@charset "UTF-8";

        html, body {
            margin: 0;
            padding: 0;
            width: 100%vw;
            height: 100%vh;
            font-family: Arial, sans-serif; 
            background-size: cover;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            background-color: rgba(255, 0, 0, 0.733);
            color: rgba(255, 255, 255, 0.678);
            padding: 20px;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        a:hover {
            background-color: red;
            color: white;
        }