@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes {
    text-align: right;
}

section#redes img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

section#redes img:hover {
    transform: transition (-3px, -3px);
    border: 2px solid rgba(255, 255, 255, 0.452);
    transition: transform 0.3s, border 1s;
}